<!DOCTYPE html>
<html lang="en">
    <head>
        <title>gluaymunchkin</title>
        <link href="./index.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" href="https://imgur.com/W3QmNmk.png" type="image/png"/>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page page1">
            <div class="wrapper">
                <img alt='picture' class="bg" loading='lazy' src="./image/background/bg4-1.png">
                <img alt='picture' loading='lazy' src="./image/background/bg4.png">
            </div>
            <div class="text">
                <h1>GLUAY</h1>
                <h2>GLUAY MUNCHKIN</h2>
                <p>Gluay that is not refer to a fruit, but refer <br>to a very cool cat, Let's get to know him better.</p>
            </div>
        </div>
        <div class="page page2">
            <div class="text"> 
                <div>
                    <p class="title">First name :</p>
                    <p>Pao Klwy</p>
                    <p class="title">Breed :</p>
                    <p>KNL</p>
                    <p class="title">Color :</p>
                    <p>ds 03 22</p>
                </div>
                <div>
                    <p class="title">Sex :</p>
                    <p>male</p>
                    <p class="title">Date of birth :</p>
                    <p>08.01.2018</p>
                    <p class="title">Owner :</p>
                    <p>Akarawuthi Siranut</p>
                </div>
                <div>
                    <p>gluay so cute gluay so cute gluay so cute</p>
                    <p>gluay so cute gluay so cute gluay so cute</p>
                    <p>gluay so cute gluay so cute gluay so cute</p>
                    <p>gluay so cute gluay so cute gluay so cute</p>
                    <p>gluay so cute gluay so cute gluay so cute</p>
                    <p>gluay so cute gluay so cute gluay so cute</p>
                </div>
            </div>
            <img alt='picture' loading='lazy' src="./image/background/gluaytext.png">
        </div>
        <div class="page page3">
            <img alt='picture' loading='lazy' class='cover reveal' src="./image/background/anatomy.png" style="transition: 2s ;">
            <img alt='picture' loading='lazy' class='cover reveal' src="./image/background/anatomy-1.png" style="transition: 6s ;">
            <img alt='picture' loading='lazy' class='cover reveal' src="./image/background/anatomy-2.png" style="transition: 10s ;">
            <div class="item">
                <div class="text">
                    <h1 class="head reveal">GLUAY</h1>
                    <h1 class="reveal">ANATOMY</h1>
                </div>
            </div>
            <img alt='picture' loading='lazy' class='bg' src="./image/background/page3bg.png">
        </div>
        <div class="page page4 reveal">
            <div class="mainContainer">
                <h1>GALLERY</h1>
                <!-- Images used to open the lightbox -->
                <div class="row">
                    <div class="column">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_0.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_1.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_2.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_3.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_4.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_6.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_7.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_8.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_56.jpg">
                        
                    </div>
                    <div class="column">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_61.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_14.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_15.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_16.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_17.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_18.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_19.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_20.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_21.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_22.jpg">
                    </div>
                    <div class="column">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_62.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_25.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_26.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_27.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_28.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_29.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_30.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_31.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_32.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_33.jpg">
                
                    </div>
                    <div class="column">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_37.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_38.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_39.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_40.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_41.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_42.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_43.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_44.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_45.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_46.jpg">
                    </div>
                    <div class="column">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_48.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_49.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_50.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_51.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_52.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_53.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_54.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_55.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_9.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_57.jpg">
                    </div>
                    <div class="column">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_11.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_23.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_35.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_24.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_47.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_59.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_10.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_12.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_34.jpg">
                        <img alt='picture' loading='lazy' src="./image/gluay/LINE_ALBUM_1262565 BE_220612_58.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="page page5">
            <div class="item">
                <div class="text">
                    <h1 class="head">VIRAL</h1>
                </div>
                <div class="gif">
                    <a href='https://www.instagram.com/reel/CRZFI-YncWY/?igshid=YmMyMTA2M2Y='><img alt='picture' loading='lazy' src="./image/gif/ig1.gif" ></a>
                    <a href="https://www.instagram.com/reel/CS0KxQ_Jz1X/?igshid=YmMyMTA2M2Y="><img alt='picture' loading='lazy' class='next' src="./image/gif/ig2.gif"></a>
                    <a href='https://vt.tiktok.com/ZSdtTPJAv/?k=1' ><img alt='picture' loading='lazy' class='next2' src="./image/gif/ig3.gif" ></a>
                    <a href='https://vt.tiktok.com/ZSdtTD9SE/?k=1' ><img alt='picture' loading='lazy' class='next3' src="./image/gif/ig4.gif" ></a>
                </div>
                <div class="desc">
                    <a href='https://www.instagram.com/reel/CRZFI-YncWY/?igshid=YmMyMTA2M2Y='>102K views | 7794 likes</a>
                    <a href="https://www.instagram.com/reel/CS0KxQ_Jz1X/?igshid=YmMyMTA2M2Y=" class="next">1.2M views | 137K likes</a>
                    <a href='https://vt.tiktok.com/ZSdtTPJAv/?k=1' class="next">836K views | 143K likes</a>
                    <a href='https://vt.tiktok.com/ZSdtTD9SE/?k=1' class="next">409K views | 105K likes</a>
                </div>
            </div>
            <img alt='picture' loading='lazy' class='bg' src="./image/background/page3bg.png">
        </div>
        <div class="page page6">
            <div class="wrapper">
                <img alt='picture' class="bg" loading="lazy" src="./image/gif/bg1.gif" style="opacity: 0.1;">
                <img alt='picture' loading='lazy' src="./image/background/bg4.png">
            </div>
            <div class="text">
                <h1 class="reveal">GLUAY</h1>
                <h2 class="reveal">GLUAY MUNCHKIN</h2>
                <div class="contact reveal">
                    <div class="desc">
                         <img alt='picture' src="./image/logo/ig.png" style="height:3vw; width: auto;"><p>Instagram : gluaymunchkin</p>
                    </div>
                    <div class="desc">
                        <img alt='picture' src="./image/logo/tiktok.png" style="height: 3vw; width: auto;"><p>Tiktok : gluaymunchkin</p>
                    </div>
                </div>
            </div>
        </div>
    <script src="index.js"></script>
    </body>
</html>
